@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* =========================== RESET DE ESTILOS ============================= */
P {
  margin-block-end: 0px;
  margin-block-start: 0px;
}
/* ========================================================================== */
body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #FDE49E;
}
:root {
  display: grid;
  place-items: center;
  height: 100vh;
}
.pantalla__carga {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animacion__carga {
  width: 150px;
}
.pokedex {
    max-width: 848px;
    background-color: #e61515;
    border-radius: 15px;
    border: double black 10px;
    border-radius: 15px;
    padding: 1em;
    display: flex;
}
.panel {
    overflow: hidden;
    width: 359px;
    padding: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.panel:last-child {
  padding: 0;
  width: 379px;
}
.panel__fila:first-child {
  border-bottom: groove #757575 3px;
}
.panel__fila {
    display: flex;
    justify-content: space-evenly;
}
.pokemon__nombre {
    font-family: "Archivo Narrow";
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 4px;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.pokemon__numero {
  font-size: 18px;
  text-transform: lowercase;
}
.pantalla {
  background: linear-gradient(90deg, rgba(131,180,255,1) 39%, rgba(160,222,255,1) 73%, rgba(202,244,255,1) 98%);
  border: inset #DFF5FF 3px;
  border-radius: 3px;
  padding: 5px;
  overflow: hidden;
}
.sprite__principal {
  min-height: 359px;
}
.error__sprite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}
.pokemon__descripcion {
  font-size: 18px;
  min-height: 115px;
  box-sizing: border-box;
}
.descripcion--darker {
  font-weight: 600;
  text-transform: uppercase;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.boton__control--entrenadores {
  height: 40px;
  width: 40px;
  transform: rotate(0);
  border-radius: 20px;
  text-transform: uppercase;
  background: rgb(255,175,69);
  background: radial-gradient(circle, rgba(255,175,69,1) 0%, rgba(249,214,137,1) 100%);
  width: 140px;
  text-shadow: white -1px 1px;
}
.titulo--destacado {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  letter-spacing: 2px;
  background: linear-gradient(14deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
  border: groove #e61515 3px;
  border-width: 3px 2px;
  text-shadow: #fd5555 -1px 1px;
}



