.boton__sprite-shiny {
    transform: rotate(0);
    text-transform: uppercase;
    background: rgb(255,175,69);
    background: radial-gradient(circle, rgba(255,175,69,1) 0%, rgba(249,214,137,1) 100%);
    min-width: 90px;
    width: min-content;
    text-shadow: white -1px 1px;
    padding: 5px 15px;
    border-radius: 30px; 
}

.boton__sprite-shiny.activo {
    border: 2px solid #b8ed7c;
    border-radius: 5px; 
  }