.pokemon__sprite {
    width: 100%;
    display: flex;
    image-rendering: pixelated;
    border: inset #9aa28b 3px;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(131,180,255,1) 39%, rgba(160,222,255,1) 73%, rgba(202,244,255,1) 98%);
}
.pokemon__sprite__pequenio {
  height: 180px;
  width: 180px;
}
.sprites__pequenios {
  display: flex;
  column-gap: 3px;
  row-gap: 3px;
  justify-content: space-between;
}
.sprites__pequenios > div {
  width: 120px;
}
.sprites__pequenios > div > h2 {
  font-size: 15px;
  margin-top: 2px;
  text-align: center;
}